# Ensure cross-platform lockfile
# This helps when developing on Windows and deploying to Linux
supportedArchitectures[]=linux
supportedArchitectures[]=win32
supportedArchitectures.cpu[]=x64
supportedArchitectures.libc[]=glibc
supportedArchitectures.libc[]=unknown
